<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container c">
        <ul class="head_img">
            <li><img src="img/logo.svg" alt="#" class="head_imj_hover"></li>
            <li><img src="img/contact.svg" alt="#" class="head_imj_hover"></li>
        </ul>
        <div class="info">
            <h1 class="head">New Automation
                Tool for Your </h1>
            <p class="text text_width bounce-top">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus praesentium, deserunt soluta neque similique accusamus quibusdam, voluptate dolore dignissimos eveniet nobis esse quaerat ab voluptates, animi libero fuga ullam inventore.</p>
            <a href="#" class="head_button">See Our Project</a>
        </div>
    </div>

    <div class="main container">
        <h3 class="head_text">What we do to help our client grow in digital era</h3>
        
        <div class="card_div">
            <div class="card">
                <img class="card_img" src="img/human-1.svg" alt="#">
                <h4 class="card_text">Make Your business To Be
                    Better Famous In Internet</h4>
                <p class="text text_bottom bounce-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
                <div class="card_link">
                    <a href="#">Learn more</a>
                </div>
            </div>

            <div class="card">
                <img class="card_img" src="img/human-2.svg" alt="#">
                <h4 class="card_text">Make Your business To Be
                    Better Famous In Internet</h4>
                <p class="text text_bottom bounce-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
                <div class="card_link">
                    <a href="#">Learn more</a>
                </div>
            </div>

            <div class="card">
                <img class="card_img" src="img/human-3.svg" alt="#">
                <h4 class="card_text">Make Your business To Be
                    Better Famous In Internet</h4>
                <p class="text text_bottom bounce-top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quasi, non
                    voluptate
                    omnis
                    suscipit,
                    praesentium
                </p>
                <div class="card_link">
                    <a href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="project container">
        <h3 class="head_text">Our Finished Project</h3>
        <p class="text project_text bounce-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

        <div class="project_subject">
            <img class="project_img" src="img/project-1.png" alt="#">
            <p class="project_p">Smart Home Installation</p>
        </div>

        <div class="project_father">

            <div class="project_subject">
                <img class="project_img" src="img/project-2.png" alt="#">
                <p class="project_left_p">Sparklite App</p>
            </div>
            <div class="project_subject">
                <img class="project_img" src="img/project-3.png" alt="#">
                <p class="project_right_p">Car-Rapetition App</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="footer_top">
                <div class="footer_text">
                    <h3 class="head_text footer_head">Interested to work
                        with our team?</h3>
                    <p class="text footer_lorem bounce-top">Lorem ipsum dolor sit amet consectetur adipisicing elit. In explicabo numquam animi architecto nisi pariatur id vitae, iste sapiente consectetur aliquam asperiores molestias quasi eius eos dolorum debitis dolores dolore?</p>
                </div>
                <a class="footer_button" href="#">Let's Talk</a>
            </div>
        </div>

        <div class="container">
            <div class="footer_bottom">
                <ul class="footer_info">
                    <li class="footer_list">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                    <li class="footer_list">+7(945)903-36-74</li>
                    <li class="footer_list">go@gmail.com</li>
                </ul>

                <div class="footer_rights">
                    <p class="footer_rights_text">1T Sprint 2022 All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>